.hero{
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.cod-image{
  width: 100%;
  height: auto;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cod-logo{
  width: 600px;
}

.roster-section{
  background-color: #003366;
}