.progress-section {
  padding-top: 70px;
}

.main-logo {
  width: 600px;
  animation: fadeinout 8s linear forwards;
  animation-iteration-count: infinite;
}

.progress-bar {
  padding-top: 30px;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .main-logo {
    width: 300px;
    padding-top: 110px;
  }
}
