.homepage {
  position: relative;
  background-color: #003366;
  height: 310vh;
}

.slideshow-pic{
  width: 800px;
}


.game-section {
  background-color: #003366;
}

.gaming-header {
  color: white;
  font-family: "Poppins";
}

.game-grid {
  display: flex;
  column-gap: 20px;
  /* width: 3000px; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  row-gap: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.button {
  /* width: 350px; */
  height: 100%;
  padding: 0;
  border: none;
  background-size: cover;
  color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.bg-image {
  width: 330px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  /* cursor: pointer; */
}

.grid-item:hover .button {
  opacity: 0.8;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  font-size: 25px;
  color: white;
}

.community-title {
  color: white;
  font-family: "Poppins";
  /* text-decoration-line: underline;
  text-decoration-thickness: 8px;
  text-decoration-color: #CC0000; */
}

.contact-title {
  color: white;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(/src/fonts/Poppins-Regular.woff) format("woff");
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .heading-section {
    padding-right: 20px;
    padding-top: 200px;
  }

  .heading-title {
    font-size: 50px;
  }

  .establish-title {
    font-size: 20px;
    padding-right: 10px;
  }

  .game-grid {
    display: block;
  }

  .casual-paragraph{
    font-size: 10.5px;
  }

  .comp-paragraph{
    font-size: 10.5px;
  }

}
