.joinus {
  display: block;
  height: 120vh;
  background-color: #003366;
}

.joinus-title {
  font-size: 42px;
  color: white;
  font-family: "Poppins";
  text-decoration: underline;
  text-decoration-color: #cc0000;
  text-decoration-thickness: 5px;
}

.requirements {
  display: block;
}

.requirement-title {
  display: flex;
  padding-left: 20px;
  color: white;
  font-size: 40px;
  font-family: "Poppins";
  text-decoration: underline;
  text-decoration-color: #cc0000;
  text-decoration-thickness: 5px;
  margin: 0;
}

.requirement-list {
  color: white;
  font-family: "Poppins";
  font-size: 26px;
}


.join-section{
  display: block;
}

.joinus-button{
  font-size: 26px;
  background-color: #cc0000;
  color: white;
  padding: 15px 55px;
}


.joinus-button:hover{
  background-color: #cc0000;
}

.join-link{
  display: flex;
  justify-content: center;
  text-decoration-line: none;
}

li{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width:768px) {

  .requirement-list{
    font-size: 19px;
    padding: 0;
  }

  .joinus-button{
    font-size: 19px;
  }
}