.navbar {
  background-color: #0b1b35;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
  font-family: "Oswald";
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
  font-size: 19px;
}

.home-section {
  display: flex;
  align-items: center;
}

.main-logo {
  width: 70px;
  margin-right: auto;
}

.navbar-title-link {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

.navbar-title-link:hover {
  text-decoration: underline;
  text-decoration-color: #cc0000;
  text-decoration-thickness: 3px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.join-button {
  background-color: #cc0000;
  font-size: 18px;
  font-family: "Oswald";
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.join-button:hover {
  background-color: #cc0000;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 7px 10px;
  transition: 0.4s;
}
.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    gap: 0;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    background-color: #0b1b35;
    width: 100%;
    padding: 0;
    z-index: 8;
    gap: 25px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
  }

  .navbar-links a:last-child {
    border-bottom: none;
  }

  .navbar-title {
    padding: 10px;
  }
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(../fonts/Oswald-VariableFont_wght.woff) format("woff");
}
