.navbar {
  background-color: #0B1B35;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
  font-family: "Oswald";
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 53px;
  font-size: 20.5px;
}

.home-section {
  display: flex;
  align-items: center; 
}

.main-logo {
  width: 70px;
  margin-right: auto; 
}

.navbar-title-link {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}


.navbar-title-link:hover{
  text-decoration: underline;
  text-decoration-color: #CC0000;
  text-decoration-thickness:3px ;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}





@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(../fonts/Oswald-VariableFont_wght.woff) format("woff");
}
