.split-screen {
    display: flex;
    height: 63vh;
    overflow: hidden;
  }
  
  .left-pane,
  .right-pane {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left-pane {
    background-image: url("../images/casual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.4; */
  }
  
  .right-pane {
    background-image: url('../images/comp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .paragraph{
    color: white;
    font-family: "Poppins";
    font-weight: bold;
  }

  .casual-paragraph{
    font-size: 16px;
  }

  .comp-paragraph{
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .split-screen {
      flex-direction: column;
    }
  
    .left-pane,
    .right-pane {
      width: 100%;
    }
  }
  