.teams{
    /* background-color: red; */
}


.cod-pane{
    background-image: url('../bgbutton/mw3-wallpaper.png');
    height: 100vh;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}