.footer-section {
  position: fixed;
  background-color: #838383;
  left: 0;
  bottom: 0;
  width: 100%;
}

.social-section {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 10px; 
}

.social-title {
  color: white;
  font-size: 22px;
  margin: 0; 
}

.icons-section {
  display: flex;
  color: white;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: white;
}

.icon {
  height: 67px;
  width: 26px;
}

.copyright-section {
  display: flex;
  align-items: center;
  padding: 10px; 
}
